html { height: 100%; }
.cyclopes img { width: 100%; }
.last, .cen { text-align: center; }
.rig { text-align: right; }
.half { width: 49%; float: left; }
.third { width: 33%; float: left; clear: right;}

a:link, a:visited, a:hover, a:active { color: darkblue; }
h1.mon, h2.mon, h1.mon a, h2 .mon { color: red; }
table.al { border: solid 1px cadetblue; float: right; margin: 5px; text-align: center; border-collapse: collapse;}
table.al td {padding: 2px;}
table.al td.yes { background: cadetblue; }
div.ill { float: right; }
div.ill img {max-width: 400px;}

header div.nav
{
  width: calc(100% - 11px);
  padding: 1px;
  padding-left: 10px;
  margin: 0px;
  background: white;
}

.nav h2 span.nav { float: right; padding-right: 10px;}
span.nav a:link { text-decoration: none; font-weight: normal;}

blockquote
{
	border: solid 2px black;
	padding: 5px;
}

body
{ 
	font-family: Luciole, Verdana, sans-serif;
	font-size: 12px;
	background: #efe6dd;
	height: 100%;
}

.face
{
	width: 100px;
	float: left;
	height: 100%;
}

.text
{
	width: calc(100% - 310px);
	display: inline-block;
}

.cyclopes
{
	width: 200px;
	float: right;
}

.all
{
  position: relative;
  height: 100%;
  width: 100%;
}

.splash
{
  position: absolute;
  height: 324px;
  width: 721px;
  padding: 20px;
  margin: -182px 0 0 -380px;
  left: 50%;
  top: 50%;
  text-align: center;
}

.nick, .nick:visited, .nick:hover
{
	color: green;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
}

.pic
{
	min-width: 200px;
	width: 60%;
	max-width: 1000px;
}

@font-face {
  font-family: 'Luciole';
  src: url('../fonts/Luciole-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Luciole';
  src: url('../fonts/Luciole-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Luciole';
  src: url('../fonts/Luciole-Regular-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Luciole';
  src: url('../fonts/Luciole-Bold-Italic.ttf');
  font-style: italic;
  font-weight: bold;
}